<ul>
    <li><a href="{{ path('ficha_cancion', {'cancion':cancion, 'codigo': cancion.id}) }}">{{ cancion.nombre}}</a></li>
    <li><strong>Año de publicación: </strong>{{cancion.publicacion}}</li>
    {% if cancion.artista.id > 0 %}
    <li><strong>Artista: </strong>{{cancion.artista.nombre}}</li>
    {% endif %}
</ul>